<?xml version="1.0"?>
<config>
    <modules>
        <InternetCode_BankTransfer>
            <version>0.1.1</version>
        </InternetCode_BankTransfer>
    </modules>
    <global>
        <models>
            <ic_banktransfer>
                <class>InternetCode_BankTransfer_Model</class>
            </ic_banktransfer>
        </models>
        <blocks>
            <ic_banktransfer>
                <class>InternetCode_BankTransfer_Block</class>
            </ic_banktransfer>
        </blocks>
        <helpers>
            <ic_banktransfer>
                <class>InternetCode_BankTransfer_Helper</class>
            </ic_banktransfer>
        </helpers>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <ic_banktransfer>
                        <class>ic_banktransfer/observer</class>
                        <method>prepareSpecificInformation</method>
                    </ic_banktransfer>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <InternetCode_BankTransfer>
                    <files>
                        <default>InternetCode_BankTransfer.csv</default>
                    </files>
                </InternetCode_BankTransfer>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <InternetCode_BankTransfer>
                    <files>
                        <default>InternetCode_BankTransfer.csv</default>
                    </files>
                </InternetCode_BankTransfer>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <icbanktransfer>
                <active>0</active>
                <model>ic_banktransfer/method_banktransfer</model>
                <order_status>pending</order_status>
                <title>Bank Transfer Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </icbanktransfer>
        </payment>
    </default>
</config>
